{% extends 'partials/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Manage Applied Services{% endblock %}
{% block branch %}(Br:{{brName}}){% endblock %}

{% block sidebar %}
{% include 'staff/sidebar.html' %}
{% endblock %}
{% block content %}
{{branch.staffBranch}}
<div class="card-body">
    <div class="table-responsive">
      <table
        id="example"
        class="table table-striped data-table"
        style="width: 100%"
      >
      <thead class="table-dark">
        <tr>
          <th>Name</th>
          <th>Applied service</th>
          <th>View Documents</th>
          <th>Status</th>
          <th></th>
        </tr>
      </thead>
        <tbody>
          
            {% for service in services %}
            <tr>
            <td>{{service.CustomerId}}</td>
            <td>{{service.ServiceName.ServiceName}}</td>
            <td><a class="btn btn-secondary" href="">View</a></td>
            <td ><i class="btn btn-danger">{{service.Status}}</i></td>
            <td><a class="btn btn-primary" href="{% url 'staff-update_services' service.id %}">Edit</a></td>
          </tr>
            {% endfor %} 
      </table>
    </div>
  </div>
{% endblock %}