 <!-- offcanvas -->
 <div
 class="offcanvas offcanvas-start sidebar-nav bg-dark border-top border-bottom border-light pt-4"
 tabindex="-1"
 id="sidebar"
>
 <div class="offcanvas-body p-0">
   <nav class="navbar-dark">
     <ul class="navbar-nav">
       <li>
         <div class="text-info small fw-bold text-uppercase px-3">
           Student 
         </div>
       </li>
       <li>
         <a href="{% url 'staff-studentsDetails' %}" class="nav-link px-3">
           <span class="me-2"></span>
           <span>View Student Details</span>
         </a>
       </li>
       <li>
         <a href="#" class="nav-link px-3">
           <span class="me-2"></span>
           <span>Student Attendence marking</span>
         </a>
       </li>
       <li>
         <a href="#" class="nav-link px-3">
           <span class="me-2"></span>
           <span>Manage Student Schedule</span>
         </a>
       </li>
       <li class="my-1"><hr class="dropdown-divider bg-light" /></li>
       <li>
         <div class="text-info small fw-bold text-uppercase px-3 mb-3">
           Services
         </div>
       </li>
       <li>
         <a href="{% url 'staff-appliedServices' %}" class="nav-link px-3">
           <span class="me-2"></span>
           <span>View Applied Services</span>
         </a>
       </li>
       <li>
         <a href="#" class="nav-link px-3">
           <span class="me-2"></span>
           <span>Apply Badge</span>
         </a>
       </li>
       <li>
         <a href="{% url 'staff-ManageAppliedServices' %}" class="nav-link px-3">
           <span class="me-2"></span>
           <span>Manage Applied Services</span>
         </a>
       </li>
       <li class="my-1"><hr class="dropdown-divider bg-light" /></li>
       <li>
         <div class="text-info small fw-bold text-uppercase px-3 mb-3">
           Reports
         </div>
       </li>
       <li>
        <a href="#" class="nav-link px-3">
          <span class="me-2"></span>
          <span>Recipt Details</span>
        </a>
      </li>
      <li>
        <a href="#" class="nav-link px-3">
          <span class="me-2"></span>
          <span>Branch Report</span>
        </a>
      </li>
     </ul>
   </nav>
 </div>
</div>

<!-- offcanvas -->