{% extends 'partials/base.html' %}
{% block title %}Student details{% endblock %}
{% block branch %}(Br:{{brName}}){% endblock %}
{% block sidebar %}
{% include 'staff/sidebar.html' %}
{% endblock %}
{% block content %}
<div class="card-body">
    <div class="table-responsive">
      <table
        id="example"
        class="table table-striped data-table"
        style="width: 100%"
      >
      <thead class="table-dark">
        <tr>
          <th>Name</th>
          <th>Branch</th>
          <th>Package</th>
          <th>Gender</th>
          <th>Phone</th>
          <th>Applied Date-Time</th>
        </tr>
      </thead>
        <tbody>
            {% for each in students %}
            <tr>
            <td>{{each}}</td>
            <td>{{each.BranchId}}</td>
            <td>{{each.DrivingPackage.LicenceType}}</td>
            <td>{{each.Gender}}</td>
            <td>{{each.Phone1}},
              {{each.Phone2}}
            </td>
            <td>{{each.CreatedDate}}  ({{each.CreatedTime}})</td>
          </tr>
            {% endfor %} 
      </table>
    </div>
  </div>
{% endblock %}