{% extends 'partials/base.html' %}
{% block title %}Attendence{% endblock %}
{% block sidebar %}
{% include 'customer/sidebar.html' %}
{% endblock %}
{% block content %}
<div class="card-body">
  
  
    <div class="table-responsive">
        <h3>Attendence according to driving</h3>
        <div class="btn btn-success">Availabe hr</div> <br> <br>
        <div class="btn btn-primary">Add hr</div> <br> <br>

      <table
        id="example"
        class="table table-striped data-table"
        style="width: 100%"
      >
      <thead class="table-dark">
        <tr>
          <th>Date</th>
          <th>Completed Hours</th>
          <th>Driving Type</th>
        </tr>
      </thead>
        <tbody>
            {% for each in schedule1 %}
            {% if each.Status == Complete %}
              <tr>
                <td>{{each.Date}}</td>
                <td>{{each.timeInHour}} hr</td>
                <td>{{each.drivingApplication.DrivingPackage.LicenceType}}</td>
              </tr>
            {% endif %}
            {% endfor %} 
      </table>
    </div>
  </div>
  
{% endblock %}