{% extends 'partials/base.html' %}
{% block title %}Applied Services{% endblock %}
{% block sidebar %}
{% include 'owner/sidebar.html' %}
{% endblock %}
{% block content %}
<div class="card-body">
    <div class="table-responsive">
      <table
        id="example"
        class="table table-striped data-table"
        style="width: 100%"
      >
<thead>
    <tr>
      <th>Customer name</th>
      <th>Branch</th>
      <th>Service name</th>
      <th>Amount</th>
      <th>Service Status</th>
    </tr>
  </thead>
    <tbody>
      
        {% for each in services1 %}
        <tr>
        <td>{{each.CustomerId}}</td>
        <td>{{each.BranchId}}</td>
        <td>{{each.ServiceName.ServiceName}}</td>
        <td>{{each.ServiceName.amount}}</td>
        <td>{{each.Status}}</td>
      </tr>
        {% endfor %} 
  </table>
</div>
</div>
{% endblock %}