{% extends 'partials/base.html' %}
{% block title %}Instructors{% endblock %}
{% block sidebar %}
{% include 'owner/sidebar.html' %}
{% endblock %}
{% block content %}
<div class="card-body">
    <div class="table-responsive">
      <table
        id="example"
        class="table table-striped data-table"
        style="width: 100%"
      >
<thead>
    <tr>
      <th>Instructor Name</th>
      <th>Branch</th>
      <th>Age</th>
      <th>Gender</th>
      <th>Experience</th>
    </tr>
  </thead>
    <tbody>
      
        {% for each in instructor1 %}
        <tr>
        <td>{{each.Name}}</td>
        <td>{{each.Branch}}</td>
        <td>{{each.Age}}</td>
        <td>{{each.Gender}}</td>
        <td>{{each.Experience}}</td>
      </tr>
        {% endfor %} 
  </table>
</div>
</div>
{% endblock %}