 <!-- offcanvas -->
 <div
 class="offcanvas offcanvas-start sidebar-nav bg-dark border-top border-bottom border-light pt-4"
 tabindex="-1"
 id="sidebar"
>
 <div class="offcanvas-body p-0">
   <nav class="navbar-dark">
     <ul class="navbar-nav">
       <li>
         <div class="text-info small fw-bold text-uppercase px-3">
           Brach Details 
         </div>
       </li>
       <li>
         <a href="#" class="nav-link px-3">
           <span class="me-2"></span>
           <span>View Staff Details</span>
         </a>
       </li>
       <li>
         <a href="#" class="nav-link px-3">
           <span class="me-2"></span>
           <span>View Student Details</span>
         </a>
       </li>
       <li>
         <a href="#" class="nav-link px-3">
           <span class="me-2"></span>
           <span>View Instructor Details</span>
         </a>
       </li>
       <li>
        <a href="#" class="nav-link px-3">
          <span class="me-2"></span>
          <span>View Applied Services</span>
        </a>
      </li>
      <li>
        <a href="#" class="nav-link px-3">
          <span class="me-2"></span>
          <span>View Recipt Details</span>
        </a>
      </li>
      <li>
        <a href="#" class="nav-link px-3">
          <span class="me-2"></span>
          <span>View Pendind Recipt</span>
        </a>
      </li>
       <li class="my-1"><hr class="dropdown-divider bg-light" /></li>
       <li>
         <div class="text-info small fw-bold text-uppercase px-3 mb-3">
           Total Report
         </div>
       </li>
       <li>
         <a href="#" class="nav-link px-3">
           <span class="me-2"></span>
           <span>Daily report</span>
         </a>
        </li>
     </ul>
   </nav>
 </div>
</div>
<!-- offcanvas -->