{% extends 'partials/base.html' %}
{% block title %}Staff Details{% endblock %}
{% block sidebar %}
{% include 'owner/sidebar.html' %}
{% endblock %}
{% block content %}
<a href="{% url 'owner-addStaff' %}" class="btn btn-secondary p-2 m-3">+ Add Staff</a>
<div class="card-body">
    <div class="table-responsive">
      <table
        id="example"
        class="table table-striped table-hover data-table"
        style="width: 100%"
      >
<thead class="table-dark">
    <tr>
      <th>No</th>
      <th>Staff Name</th>
      <th>Email</th>
      <th>Branch Name</th>
    </tr>
  </thead>
    <tbody>
      
        {% for each in staff1 %}
        <tr>
          <td>{{forloop.counter}}</td>
        <td>{{each.user}}</td>
        <td>{{each.user.email}}</td>
        <td class="font-weight-bold">{{each.staffBranch}}</td>
      </tr>
        {% endfor %} 
  </table>
</div>
</div>
{% endblock %}